*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #EEEEEE;
    margin: 0px;
    padding: 0px;
}

#header{
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
}
#nav-bar{
    display: flex;

}
ul{
    display: flex;
}

#header li{
  list-style-type: none;

}
#header li a{
    text-decoration: none;
    justify-content: space-around;
    padding: 4px;
    align-items: flex-end;
    font-size: 20px;
    padding: 25px;
    color: black;


}

@media (max-width: 600px){
    #header li a{
        text-decoration: none;
        justify-content: space-around;
        padding: 4px;
        align-items: flex-end;
        font-size: 20px;
        padding: px;
    
    
    }
}
#header-img{
    width: 15wh;
    height: 6vh;

}

a:hover{
    position: relative;
    top: -5px;
}

/* form */
#formSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 50px;

}

#email{
    margin: 25px 100px;
    height: 35px;
    width: 400px;
    
}

#submit{
    background-color: #F1C40F;
    padding: 10px 10px;
    border: 2px transparent solid;
    font-weight: bold;
}

#details{
padding: 50px 80px 50px 80px;
}

#para{
    display: flex;
    justify-content: space-between;
}
.p1{
    flex-grow: 3;
}

#para i.fas{
    font-size: 100px;
    flex-grow: 1;
}
